/node_modules

 // 6224127289:AAG4-1b8cxjuMuzr7QHNtOTTSyh0k8B7qko---madhu---chatid---1756651407
 // 6094576247:AAEL4XIStBSrr69xvv7rxhdoY0nfRr1ypJ4----manoj --chatid---5304244458
//  6395511802:AAFTndtmgsQOFkp6uEUkS_hGfyr-ZDX72Kk---trimutri
// var location = `https://www.google.com/maps/search/?api=1&query=${storelat},${storelon}`;

# 5373341332

 RowDataPacket {
    GHS_ID: 618,
    LEVEL: 'Level 3',
    Region: 'East',
    BTQCode: 'PUR',
    Customer_Name: 'Truptimayee',
    GHSAccount_No: 139970526,
    Location_Short_Name: 'Puri',
    Typeof_Scheme: 'Golden Harvest Plan',
    Scheme_Description: 'Golden Harvest Plan',
    Dateof_Enrolment: '2023-01-16',
    Installment_Amount: 5000,
    Dateof_Last_Installment: '2023-05-31',
    Total_Installments_Paid: 5,
    Next_Installment_Due: 6,
    Total_Due: 2,
    Next_Installment_Due_Date: '2023-06-16',
    Contact_Number: 7795543306,
    Mail_Id: 'truptisamantaray@gmail.com',
    RSO: 'SUSHREE REKHA SAHOO',
    Fiscal_Year: 2022,
    GHS_STS: '1',
    GHS_CREAT_TM: 2023-08-01T10:22:53.834Z
  },

json---------stockdata-
{  
    "stockData":[
        {
            "Locationcode":"loc125",
    "Description":"loc125",
    "ProductDescription":"loc125",
    "Itemcode":"loc125",
     "LotNumber":"loc125",
    "Bincode":"loc125",
    "Unitweight":"loc125",
    "Quantity":"loc125",
    "PricingType":"loc125",
    "CFAProductCode":"loc125",
    "StockValue":"loc125",
    "ComplexityCode":"loc125",
    "CollectionName":"loc125",
    "IsHallMarking":"loc125"
        },
           {
            "Locationcode":"loc125",
    "Description":"loc125",
    "ProductDescription":"loc125",
    "Itemcode":"loc125",
     "LotNumber":"loc125",
    "Bincode":"loc125",
    "Unitweight":"loc125",
    "Quantity":"loc125",
    "PricingType":"loc125",
    "CFAProductCode":"loc125",
    "StockValue":"loc125",
    "ComplexityCode":"loc125",
    "CollectionName":"loc125",
    "IsHallMarking":"loc125"
        }

    ]
     
}

---saleData-------------
{  
    "salesData":[
        {
              "Mode": "loc111",
                "LocationCode": "loc111",
                "DocDate":"loc111",
                "Description":"loc111",
                "ProductDescription":"loc111",
                "ItemCode":"loc111",
                "Quantity":"loc111",
                "Weight":"loc111",
                "TotalValue":"loc111",
                "LotNumber":"loc111",
                "PricingType":"loc111",
                "BinCode":"loc111",
                "goldrate":"loc111",
                "Age":"loc111",
                "RSOname":"loc111",
                "ThemeDesign":"loc111",
                "DiscountCode":"loc111",
                "InvoiceNo":"loc111",
                "title":"loc111",
                "CustomerName":"loc111",
                "Mobileno":"loc111",
                "GSTRegno":"loc111",
                "Fineness":"loc111",
                "ishallmarking":"loc111",
                "HallmarkingChargesPERqty":"loc111",
                "hallmarkqty":"loc111",
                "HMcharges":"loc111",
                "HMGSTPercent":"loc111",
                "HMGSTValue":"loc111",
                "TotalHMcharges":"loc111",
                "isfoc":"loc111",
                "HMExcludedGms":"loc111",
                "Totcategory":"loc111"
        },
           {
            "Mode": "loc111",
                "LocationCode": "loc111",
                "DocDate":"loc111",
                "Description":"loc111",
                "ProductDescription":"loc111",
                "ItemCode":"loc111",
                "Quantity":"loc111",
                "Weight":"loc111",
                "TotalValue":"loc111",
                "LotNumber":"loc111",
                "PricingType":"loc111",
                "BinCode":"loc111",
                "goldrate":"loc111",
                "Age":"loc111",
                "RSOname":"loc111",
                "ThemeDesign":"loc111",
                "DiscountCode":"loc111",
                "InvoiceNo":"loc111",
                "title":"loc111",
                "CustomerName":"loc111",
                "Mobileno":"loc111",
                "GSTRegno":"loc111",
                "Fineness":"loc111",
                "ishallmarking":"loc111",
                "HallmarkingChargesPERqty":"loc111",
                "hallmarkqty":"loc111",
                "HMcharges":"loc111",
                "HMGSTPercent":"loc111",
                "HMGSTValue":"loc111",
                "TotalHMcharges":"loc111",
                "isfoc":"loc111",
                "HMExcludedGms":"loc111",
                "Totcategory":"loc111"
        }

    ]
     
}

  
`sales_Id``Mode``LocationCode``DocDate``Description``ProductDescription``ItemCode``Quantity`
`Weight``TotalValue``LotNumber``PricingType``BinCode``goldrate``Age``RSOname``ThemeDesign`
`DiscountCode``InvoiceNo``title``CustomerName``Mobileno``GSTRegno``Fineness``ishallmarking`
`HallmarkingChargesPERqty``hallmarkqty``HMcharges``HMGSTPercent``HMGSTValue``TotalHMcharges`
`isfoc``HMExcludedGms``Totcategory``creatd_At``sts`